* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #B37EAC;
  padding: 25px;
}
.container {
  font-family: 'Source Code Pro';
  width: 100%;
  height: 100vh;
  background: #261c23;
}
